@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-great-vibes {
    font-family: 'Great Vibes', cursive;
  }

  .font-im-fell {
    font-family: 'IM Fell English', serif;
  }

  .font-im-fell-english-regular-italic {
    font-family: "IM Fell English", serif;
    font-style: italic;
  }

  .font-scheherazade {
    font-family: "Scheherazade New", serif;
    font-style: normal;
  }
}
